<br />

<h1 align='center'>Orionx Prices Desktop</h1>

<div class="row">
	<div class="col">
		<br />
		<br />

		<ul>
			<li>Visualizas los últimos precios de los mercados en Orionx.</li>
			<li>Alarma en caso de que la última transacción suceda fuera del rango especificado.</li>
			<li>Se refresca cada 10 segundos.</li>
		</ul>

		<br />

		<h3 align='center'>Change log</h3> 

		<p align='center'>(Última version 1.1.4 - 12 de Abril del 2018)</p>

		<br />

		<p align='center'>En resumen:</p>

		<ul>
			<li>Se arreglaron varios bugs respecto a las graficas que hacia que se vieran distorcionadas.</li>
			<li>Se arreglo un bug respecto a la alarma que hacia que no funcionara correctamente, ya que las alarmas respecto a una criptomoneda colisionaba con las alarmas de otras.</li>
			<li>Se agrego un boton para esconder las graficas y asi no tener que usar tanto el scroll.</li>
		</ul>

		<br />
		<br />

		<%= image_tag "orionx.png", class: "img-responsive center-block", :alt => "avatar" %>

		<br />
	</div>
</div>
<br />
<h1 align='center'>Descargas</h1>
<br />
<div class="row">
	<div class="col-sm-3">
	</div>
	<div class="col-sm-4">
		<%= link_to 'Windows 64bits', '/app/orionx-prices64-windows.zip', style: "margin-left: 50px", class: "btn btn-primary" %>
	</div>
	<div class="col-sm-4">
		<%= link_to 'Linux 64bits', '/app/orionx-prices64-linux.zip', class: "btn btn-primary" %>
	</div>
</div>
