<br />

<h1 align='center'>Orionx Prices Desktop</h1>

<h2 align='center'>La aplicación de escritorio se encuentra en mantención...</h2>

<br />

<div class="col-xs-8 col-xs-offset-2">
	<p align='center'>Hola, he sacado momentaneamente la aplicación de escritorio ya que no lo he actualizado a los mercados CLP de Orionx, además de que quiero mejorar la aplicación antes de relanzarla (tiene algunos errores dificiles de eliminar), pero lamentablemente me encuentro ocupado con otros proyectos. Asique hasta nuevo aviso.</p>
</div>