<div class='container'>
	<div class='alert alert-info' align='center'>
		<strong>Atención!</strong> Para regresar a las graficas, <%= link_to 'click aqui', home_prices_path %>!
	</div>
</div>

<br />

<h1 align='center'>Prueba orionx-prices</h1>

<div class="row">
	<div class="col">
		<br />
		<br />
		<br />

		<ul>
			<li>Visualizas los últimos precios de los mercados en Orionx.</li>
			<li>Alarma en caso de que la última transacción suceda fuera del rango especificado.</li>
			<li>Se refresca cada 15 segundos.</li>
		</ul>

		<br />

		<h3 align='center'>Change log</h3> 

		<p align='center'>(Última version 4 de Marzo del 2018)</p>

		<br />

		<ul>
			<li>Se redujo el refresco de cada 30 segundos a cada 15 segundos.</li>
			<li>Se arreglo un bug que hacia que las graficas mostraran datos antiguos despues de tener mucho tiempo abierto la aplicacion y pasar el mouse por encima de la grafica.</li>
			<li>Se agregaron mejoraron las notificaciones y se redujo un poco el volumen y duracion de la alarma.</li>
		</ul>

		<br />

		<%= image_tag "orionx.png", size: "440x620", class: "mx-auto d-block", :alt => "avatar" %>

		<br />
	</div>
</div>
<br />
<h1 align='center'>Descargas</h1>
<br />
<div class="row">
	<div class="col-sm-3">
	</div>
	<div class="col-sm-4">
		<%= link_to 'orionx-prices 32bits', '/app/orionx-prices32.zip', style: "margin-left: 50px", class: "btn btn-primary" %>
	</div>
	<div class="col-sm-4">
		<%= link_to 'orionx-prices 64bits', '/app/orionx-prices64.zip', class: "btn btn-primary" %>
	</div>
</div>